# Core data
numpy==2.4.4
pandas==3.0.2
pyreadstat==1.2.8

# Visualisation
matplotlib==3.10.8
seaborn==0.13.2

# Statistics
scipy==1.17.1
statsmodels==0.14.4
pingouin==0.5.5

# Machine learning
scikit-learn==1.8.0
joblib==1.5.3

# Notebook
jupyter==1.1.1
ipykernel==7.2.0
